[submodule "ML-Robustness-Fairness"]
	path = ML-Robustness-Fairness
	url = https://github.com/benech17/ML-Robustness-Fairness
[submodule "optimisation-SDIA"]
	path = optimisation-SDIA
	url = https://github.com/benech17/optimisation-SDIA
[submodule "ML-SDIA"]
	path = ML-SDIA
	url = https://github.com/benech17/ML-SDIA
[submodule "Markov-Chains-SDIA"]
	path = Markov-Chains-SDIA
	url = https://github.com/benech17/Markov-Chains-SDIA
[submodule "Estimation-SDIA"]
	path = Estimation-SDIA
	url = https://github.com/benech17/Estimation-SDIA
[submodule "Reinforcement-Learning-SDIA"]
	path = Reinforcement-Learning-SDIA
	url = https://github.com/benech17/Reinforcement-Learning-SDIA
[submodule "SecInfo-SDIA"]
	path = SecInfo-SDIA
	url = https://github.com/benech17/SecInfo-SDIA
[submodule "POO-SDIA"]
	path = POO-SDIA
	url = https://github.com/benech17/POO-SDIA
[submodule "python_sdia_BENICHOU_BONNEFOY"]
	path = python_sdia_BENICHOU_BONNEFOY
	url = https://github.com/benech17/python_sdia_BENICHOU_BONNEFOY
